body {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  font-family: "Zilla Slab", serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/124/194/original/pexels-eberhardgross-1287142.jpg?1713961868");
  background-size: cover;
}

.App {
  background-color: white;
  margin: 100px auto;
  max-width: 500px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 50px 80px rgba(10, 10, 12, 0.08);
}
header {
  border-bottom: 1px solid rgb(241, 239, 243);
  padding: 0 0 20px 0;
}
.city {
  background-color: #f6dbf7;
  padding: 8px;
  border-radius: 7px;
  border-width: 1px;
  border-color: #f3eef3;
  border-top: #f3eef3;
  border-left: #f3eef3;
  width: 380px;
  font-size: 15px;
}
.button {
  background-color: #6165ba;
  border-radius: 7px;
  border-width: 1px;
  padding: 8px;
  border-color: #f3eef3;
  width: 90px;
  color: white;
  font-size: 15px;
  transition: all 200ms ease-in-out;
}
.button:hover {
  background: #aecef9;
  color: #27296d;
  cursor: pointer;
  border-color: #6166b9;
}
main {
  padding: 25px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.weather-app-city {
  margin: 0;
  font-size: 35px;
  line-height: 45px;
  color: #27296d;
}
.weather-app-details {
  font-size: 15px;
  color: rgba(39, 33, 66, 0.5);
  line-height: 20px;
  font-weight: 500;
}
.weather-app-details strong {
  color: #6165ba;
}
.weather-app-temp-container {
  display: flex;
}
.emoji {
  width: 88px;
  height: 88px;
  margin-top: 7px;
}
.temp-value {
  font-size: 85px;
  font-weight: bold;
  margin-left: 10px;
  line-height: 88px;
  color: #27296d;
}
.temp-unit {
  font-size: 25px;
  margin-top: 25px;
  color: #27296d;
}
.flower {
  font-size: 22px;
}

footer {
  border-top: 1px solid rgb(241, 239, 243);
  padding: 15px 0 0 0;
  text-align: center;
  font-size: smaller;
  color: rgba(0, 0, 0, 0.7);
}
a {
  color: #6065b9;
}
